@model TourForEverybuddy.Models.User
@{
    ViewBag.Title = "Register";
    this.Layout = "~/Views/Shared/_GenericLayout.cshtml";
}

@Html.ValidationMessage("EmailIsHave", new { @style = "color: red; font-size: large;" })
@Html.ValidationMessage("ValidIsFailed", new { @style = "color: red; font-size: large;" })

<div class="RegisterDiv">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("_AccountPartial")

        <div class="ArrayLanguageList">
            @Html.LabelFor(model => model.LanguageId)
            @Html.DropDownList("Language", ViewBag.Languages as IEnumerable<SelectListItem>, "Not chosen")
            @Html.DropDownList("Language", ViewBag.Languages as IEnumerable<SelectListItem>, "Not chosen", new { @style = "display: none" })
            @Html.DropDownList("Language", ViewBag.Languages as IEnumerable<SelectListItem>, "Not chosen", new { @style = "display: none" })
            @Html.DropDownList("Language", ViewBag.Languages as IEnumerable<SelectListItem>, "Not chosen", new { @style = "display: none" })
            @Html.DropDownList("Language", ViewBag.Languages as IEnumerable<SelectListItem>, "Not chosen", new { @style = "display: none" })
            <a onclick="AddChoiceLanguage()">Add language </a>
        </div>

        <div class="Passwords">
            @Html.LabelFor(model => model.Password)
            @Html.TextBox("Password", null, new { @type = "password", @onfocusout = "onFocusOutPassword()" })
            @Html.LabelFor(model => model.Password, "Confirm password")
            @Html.TextBox("Password", null, new { @id = "PasswordConfirm", @type = "password", @onfocusout = "onFocusOutPassword()" })

            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            @Html.ValidationMessage("PasswordCOnfirm", "", new { @id = "validPass", @class = "text-danger" })
        </div>

        <div style="margin-top: 20px;">
            @*The Agreement ... field is required.*@
            <input type="checkbox" id="CheckAgreement" onclick="Agreement()" /> <em>I accept the terms of @Html.ActionLink("Agreement", "agreement", null, new { @target = "blank" })</em>
            @Html.ValidationMessage("CheckAgreementValid", "", new { @id = "CheckAgreementValid", @class = "text-danger" })
        </div>
        <input id="ButtonCreate" type="submit" value="Create" onclick=" return PreClickRegister()" class="button special" />
    }
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Elements/Register.js"></script>
