@model TourForEverybuddy.Models.User
@{
    ViewBag.Title = "Register";
    this.Layout = "~/Views/Shared/_GenericLayout.cshtml";
}

@Html.ValidationMessage("EmailIsHave", new { @style = "color: red" })
@Html.ValidationMessage("ValidIsFailed", new { @style = "color: red" })

<div class="RegisterDiv">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div>
            @Html.LabelFor(model => model.RouleId)
            <div class="4u 12u$(xsmall) checkBoxUser">
                @Html.RadioButtonFor(model => model.RouleId, 3, new { @style = "display: none;", @checked = true })
                <label for="RouleId">User</label>
            </div>
            <div class="4u 12u$(xsmall) checkBoxGuied">
                @Html.RadioButtonFor(model => model.RouleId, 2, new { @id = "RouleId2", @style = "display: none" })
                <label for="RouleId2">Guide</label>
            </div>
            @Html.ValidationMessage("RouleId", "", new { @id = "validRoule", @class = "text-danger" })
        </div>

        <div>
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(model => model.LastName)
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>

        <div>
            @Html.LabelFor(model => model.Age)
            @Html.EditorFor(model => model.Age)
            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
        </div>

        <div>
            @Html.LabelFor(model => model.Email)

            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div>
            @Html.LabelFor(model => model.Phone)
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

        </div>

        <div>
            @Html.LabelFor(model => model.CountryId)
            @Html.DropDownListFor(model => model.CountryId, ViewBag.Countries as IEnumerable<SelectListItem>)
            @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
        </div>
        @*<div>
                @Html.LabelFor(model => model.LanguageId)
                @Html.DropDownListFor(model => model.LanguageId, ViewBag.Languages as IEnumerable<SelectListItem>)
                @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
            </div>*@
        <div class="ArrayLanguageList">
            @Html.LabelFor(model => model.LanguageId)
            @Html.DropDownList("Language", ViewBag.Languages as IEnumerable<SelectListItem>)
            @Html.DropDownList("Language", ViewBag.Languages as IEnumerable<SelectListItem>, new { @style = "display: none" })
            @Html.DropDownList("Language", ViewBag.Languages as IEnumerable<SelectListItem>, new { @style = "display: none" })
            @Html.DropDownList("Language", ViewBag.Languages as IEnumerable<SelectListItem>, new { @style = "display: none" })
            @Html.DropDownList("Language", ViewBag.Languages as IEnumerable<SelectListItem>, new { @style = "display: none" })
            <a onclick="AddChoiceLanguage()">Yet ?</a>
        </div>

        <div class="Passwords">
            @Html.LabelFor(model => model.Password)
            @Html.TextBox("Password", null, new { @type = "password", @onfocusout = "onFocusOutPassword()" })
            @Html.LabelFor(model => model.Password, "Confirm password")
            @Html.TextBox("Password", null, new { @id = "PasswordConfirm", @type = "password", @onfocusout = "onFocusOutPassword()" })

            @*@Html.EditorFor(model => model.Password)*@
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            @Html.ValidationMessage("PasswordCOnfirm", "", new { @id = "validPass", @class = "text-danger" })
        </div>

        <div style="margin-top: 20px;">
            @*The Agreement ... field is required.*@
            <input type="checkbox" id="CheckAgreement" onclick="Agreement()" /> <em>@Html.ActionLink("Agreement", "Agreement", null, new { @target = "blank" })</em>
            @Html.ValidationMessage("CheckAgreement", "", new { @id = "validAgreement", @class = "text-danger" })
        </div>
        <input id="ButtonCreate" type="submit" value="Create" onclick=" return PreClickRegister()" class="button special" />
    }
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Elements/Register.js"></script>
