@{
    ViewBag.Title = "_LoginPartial";
}

@if (!string.IsNullOrEmpty(HttpContext.Current.User.Identity.Name))
{
    //ToDo: ActionLink to Profil
    <a>@HttpContext.Current.User.Identity.Name</a>
    @Html.ActionLink("Exit", "Exit", "Home", new { @style = "color: #51BAA4;" })
}
else
{
    <label id="labelShowLoginDialog" onclick="ShowLoginDialog()">Log in</label>
}
<div class="LoginDiv">

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "loginDialog" }))
    {
        <table style="margin-bottom: 0px; ">
            @*background-color: rgba(85,82,89, .4);*@
            <tr>
                <td> @Html.TextBox("Name", null, new { @placeholder = "UserName ..." })</td>
            </tr>
            <tr>
                <td style="text-align:center; padding:0px;"><h4 style="margin:0px; color: lightgray;">or</h4></td>
            </tr>
            <tr>
                <td>@Html.TextBox("Email", null, new { @placeholder = "Email ..." })</td>
            </tr>
            <tr>
                <td>@Html.TextBox("Password", null, new { @type = "password", @placeholder = "Password ... " })</td>
            </tr>
        </table>
        @*@Html.ActionLink("Registration ", "Register", "Account", null, new { @style = "    color: #51BAA4;" })*@
        @Html.ActionLink("Forgot password ?", "ForgotThePassword", "Account", null, new { @onclick = "Pre_ForgotThePassword(this)", @style = " color :#51BAA4;" })
        @Html.Hidden("IsRegister", "false")
        <br />

        <input type="submit" value="Register" onclick="return $('#IsRegister').val('true');" />
        <input type="submit" value="LogIn" />

    }
</div>
