@model TourForEverybuddy.Models.User
@{
    ViewBag.Title = "Index";
    this.Layout = "~/Views/Shared/_GenericLayout.cshtml";
}

<br />
<br />
<br />

@Html.ValidationMessage("LoginAndPassword_DoesNotMatch", new { @style = "color: red;" })

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Name : </td>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Password : </td>
            <td>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <input type="submit" value="Go" />
}

