@model TourForEverybuddy.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Index";
    this.Layout = "~/Views/Shared/_GenericLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Elements/Login.css" />
<h2 class="TitleLoginPage">Authentication</h2>

<div class="LoginPageDiv">
    @Html.ValidationMessage("LoginAndPassword_DoesNotMatch", new { @style = "color: red; padding-left: 85px;" })


    @using (Html.BeginForm())
    {
        <table style="margin: 25px;">
            <tr>
                <td>UserName or Email : </td>
                <td>
                    @Html.EditorFor(model => model.NameOrEmail)
                    @Html.ValidationMessageFor(model => model.NameOrEmail, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>Password : </td>
                <td>
                    @Html.TextBox("Password", null, new { @type = "password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
        <div style="padding-left: 193px;">
            @Html.CheckBoxFor(model => model.RememberMe)<em>Remember me</em>
        </div>
        @Html.ActionLink("Reigster", "Register", "Account", null, new { @style = "display: inline; margin: 10px auto 10px 165px;" })
        @Html.ActionLink("Forgot password ?", "ForgotThePassword", "Account", null, new { @onclick = "Pre_ForgotThePassword(this)", @style = "margin-left: 50px;" })

        <input type="submit" value="Go" style="margin: 10px auto 0px 190px;" />
    }
</div>


<script src="~/Scripts/Elements/Login.js"></script>