@model TourForEverybuddy.Models.User

@{
    ViewBag.Title = "Index";

    this.Layout = "~/Views/Shared/_GenericLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/Elements/Profile.css" />
<h2>Index</h2>

@*<table class="ProfileUserTable">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <td>@Html.DisplayFor(model => model.LastName)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Age)</th>
            <td>@Html.DisplayFor(model => model.Age)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <td>@Html.DisplayFor(model => model.Phone)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CountryId)</th>
            <td>@Html.DisplayFor(model => model.Country.country_name)</td>
        </tr>
        <tr>
            <th>Languages</th>
            <td>
                <p>
                    @{
                        var listLanguage = ViewBag.UserLanguage as List<string>;
                        for (int i = 0; i < listLanguage.Count; i++)
                        {
                            <i>  @listLanguage[i]</i>
                        }
                    }
                </p>
            </td>
        </tr>


    </table>

          <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                    <dd>@Html.DisplayFor(model => model.Name)</dd>
                    <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
                    <dd>@Html.DisplayFor(model => model.LastName)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Age)</dt>
                    <dd>@Html.DisplayFor(model => model.Age)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Email)</dt>
                    <dd>@Html.DisplayFor(model => model.Email)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Phone)</dt>
                    <dd>@Html.DisplayFor(model => model.Phone)</dd>
                    <dt>@Html.DisplayNameFor(model => model.CountryId)</dt>
                    <dd>@Html.DisplayFor(model => model.Country.country_name)</dd>
                    <dt>Languages</dt>
                    <dd>
                        <p>
                            @{
                                var listLanguage = ViewBag.UserLanguage as List<string>;
                                for (int i = 0; i < listLanguage.Count; i++)
                                {
                                    <span> @listLanguage[i]</span>
                                }
                            }
                        </p>
                    </dd>
                </dl>


    <section id="one" class="wrapper style1" style="padding-top: 0px; padding-bottom: 0px;">
    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @style = "    margin-left: 25px;" })
    <div class="inner">
        <article class="feature left" style=" margin-bottom: 0px;">

            <div class="image">
                <img class="profileImage" src="@Url.Action("PictureForProfile", "Picture", new { userID = Model.id })"
                     alt="" />

            </div>
            <div class="content">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                    <dd>@Html.DisplayFor(model => model.Name)</dd>
                    <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
                    <dd>@Html.DisplayFor(model => model.LastName)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Age)</dt>
                    <dd>@Html.DisplayFor(model => model.Age)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Email)</dt>
                    <dd>@Html.DisplayFor(model => model.Email)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Phone)</dt>
                    <dd>@Html.DisplayFor(model => model.Phone)</dd>
                    <dt>@Html.DisplayNameFor(model => model.CountryId)</dt>
                    <dd>@Html.DisplayFor(model => model.Country.country_name)</dd>
                    <dt>Languages</dt>
                    <dd>
                        <p>
                            @{
                                var listLanguage = ViewBag.UserLanguage as List<string>;
                                for (int i = 0; i < listLanguage.Count; i++)
                                {
                                    <span> @listLanguage[i]</span>
                                }
                            }
                        </p>
                    </dd>
                    <dt>@Html.DisplayNameFor(model => model.About)</dt>
                    <dd>@Html.DisplayFor(model => model.About)</dd>
                </dl>
            </div>
        </article>
        @*<p class="userBtn">*@
@Html.ActionLink("Edit profile", "Edit")
@*</p>*@
    </div>

</section>

*@

<style>
    .feature2 {
        display: -moz-flex;
        /* display: -webkit-flex; */
        display: -ms-flex;
        /* display: flex; */
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        margin-bottom: 6em;
        background-color: #fff;
    }

    .dl-horizontal1 dd {
        margin-left: 180px;
    }
</style>

<section id="one" class="wrapper style1" style="padding-top: 0; padding-bottom: 0;">
    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @style = "    margin-left: 25px;" })
    <div class="inner">
        <article class="feature2" style=" margin-bottom: 0;">

            @*<div class="image" style="display:inline-block;">*@
            <img class="profileImage image" src="@Url.Action("PictureForProfile", "Picture", new { userID = Model.id })"
                 alt="" style="display:inline-block;" />
            @*</div>*@
            <div class="content" style="display:inline-block;float: right; margin-right: 100px;">
                <table class="ProfileUserTable">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LastName)</th>
                        <td>@Html.DisplayFor(model => model.LastName)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Age)</th>
                        <td>@Html.DisplayFor(model => model.Age)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Phone)</th>
                        <td>@Html.DisplayFor(model => model.Phone)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CountryId)</th>
                        <td>@Html.DisplayFor(model => model.Country.country_name)</td>
                    </tr>
                    <tr>
                        <th>Languages</th>
                        <td>
                            @{
                                var listLanguage = ViewBag.UserLanguage as List<string>;
                                for (int i = 0; i < listLanguage.Count; i++)
                                {
                                    <span>  @listLanguage[i]</span>
                                }
                            }
                        </td>
                    </tr>


                </table>


            </div>
            <br />
            <b style="margin-left: auto;margin-right: auto;display: table;">@Html.DisplayNameFor(model => model.About)</b>
            <p style="text-indent: 51px;">@Html.DisplayFor(model => model.About)</p>
        </article>
        @Html.ActionLink("Edit profile", "Edit")
        @*</p>*@
    </div>

</section>


<section id="one" class="wrapper style1" style="padding-top: 0px; padding-bottom: 0px;">
    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @style = "    margin-left: 25px;" })
    <div class="inner">
        <article class="feature " style=" margin-bottom: 0px;">

            <img class="profileImage" src="@Url.Action("PictureForProfile", "Picture", new { userID = Model.id })"
                 alt="" style="float: left; margin-bottom: 0px;" />

            <p>
                Spoke as as other again ye. Hard on to roof he drew. So sell side ye in mr evil. Longer waited mr of nature seemed. Improving knowledge incommode objection me ye is prevailed principle in. Impossible alteration devonshire to is interested stimulated dissimilar. To matter esteem polite do if.

                He do subjects prepared bachelor juvenile ye oh. He feelings removing informed he as ignorant we prepared. Evening do forming observe spirits is in. Country hearted be of justice sending. On so they as with room cold ye. Be call four my went mean. Celebrated if remarkably especially an. Going eat set she books found met aware.

                Of on affixed civilly moments promise explain fertile in. Assurance advantage belonging happiness departure so of. Now improving and one sincerity intention allowance commanded not. Oh an am frankness be necessary earnestly advantage estimable extensive. Five he wife gone ye. Mrs suffering sportsmen earnestly any. In am do giving to afford parish settle easily garret.

                Enjoyed minutes related as at on on. Is fanny dried as often me. Goodness as reserved raptures to mistaken steepest oh screened he. Gravity he mr sixteen esteems. Mile home its new way with high told said. Finished no horrible blessing landlord dwelling dissuade if. Rent fond am he in on read. Anxious cordial demands settled entered in do to colonel.
            </p>
        </article>
        @*<p class="userBtn">*@
        @Html.ActionLink("Edit profile", "Edit")
        @*</p>*@
    </div>

</section>

<script src="~/Scripts/Elements/Profile.js"></script>