@model TourForEverybuddy.Models.Tour

@{
    ViewBag.Title = "Index";

    this.Layout = "~/Views/Shared/_GenericLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/Elements/Profile.css" />
<h2>Index</h2>

@*<table class="ProfileUserTable">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <td>@Html.DisplayFor(model => model.LastName)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Age)</th>
            <td>@Html.DisplayFor(model => model.Age)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <td>@Html.DisplayFor(model => model.Phone)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CountryId)</th>
            <td>@Html.DisplayFor(model => model.Country.country_name)</td>
        </tr>
        <tr>
            <th>Languages</th>
            <td>
                <p>
                    @{
                        var listLanguage = ViewBag.UserLanguage as List<string>;
                        for (int i = 0; i < listLanguage.Count; i++)
                        {
                            <i>  @listLanguage[i]</i>
                        }
                    }
                </p>
            </td>
        </tr>


    </table>*@

<div class="container">
    <section>
        <section id="one" class="wrapper style1">
            <div class="inner">
                <article class="feature left">

                    <div class="image">
                        @{
                            int[] arrayImage = new int[Model.Tour_PictureOfTour.Count];
                            string style = "";
                            for (int i = 0; i < Model.Tour_PictureOfTour.Count; i++)
                            {
                                style = i == 0 ? "" : "display: none;";
                                <img src="@Url.Action("ShowPicture", "Picture", new { pictureId = arrayImage[i] = Model.Tour_PictureOfTour.ElementAt(i).Id, tourID = Model.Tour_PictureOfTour.ElementAt(i).TourID })"
                                     alt="" style="@style">
                            }
                            <ul class="slideSelectors">
                                @for (int i = 0; i < arrayImage.Length; i++)
                                {
                                    if (i != 0)
                                    {
                                        <li id="@i"></li>
                                    }
                                    else
                                    {
                                        <li id="@i" style="margin: -1px 1px 1px 10px; background: #777; width: 18px; height: 18px;"></li>
                                    }
                                    //onclick="pagePicture(this)"
                                }
                            </ul>
                        }
                    </div>

                    <div class="content">
                        <h2>@Model.title </h2>
                        <p class="contentDescription">@Model.description</p>
                        <ul class="actions">
                            <li>
                                @Html.ActionLink("Edit tour", "EditTour", new { id = Model.Id }, new { @class = "button alt" })
                            </li>
                            <li>
                                @Html.ActionLink("Delete tour", "Delete", new { id = Model.Id }, new { @class = "button" })
                            </li>
                        </ul>
                    </div>
                </article>

            </div>
        </section>
    </section>


</div>

<script src="~/Scripts/Elements/Profile.js"></script>