@model TourForEverybuddy.Models.User

@{
    ViewBag.Title = "Index";

    this.Layout = "~/Views/Shared/_GenericLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/Elements/Profile.css" />
<h2>Index</h2>

@*<table class="ProfileUserTable">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <td>@Html.DisplayFor(model => model.LastName)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Age)</th>
            <td>@Html.DisplayFor(model => model.Age)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <td>@Html.DisplayFor(model => model.Phone)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CountryId)</th>
            <td>@Html.DisplayFor(model => model.Country.country_name)</td>
        </tr>
        <tr>
            <th>Languages</th>
            <td>
                <p>
                    @{
                        var listLanguage = ViewBag.UserLanguage as List<string>;
                        for (int i = 0; i < listLanguage.Count; i++)
                        {
                            <i>  @listLanguage[i]</i>
                        }
                    }
                </p>
            </td>
        </tr>


    </table>

          <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                    <dd>@Html.DisplayFor(model => model.Name)</dd>
                    <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
                    <dd>@Html.DisplayFor(model => model.LastName)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Age)</dt>
                    <dd>@Html.DisplayFor(model => model.Age)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Email)</dt>
                    <dd>@Html.DisplayFor(model => model.Email)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Phone)</dt>
                    <dd>@Html.DisplayFor(model => model.Phone)</dd>
                    <dt>@Html.DisplayNameFor(model => model.CountryId)</dt>
                    <dd>@Html.DisplayFor(model => model.Country.country_name)</dd>
                    <dt>Languages</dt>
                    <dd>
                        <p>
                            @{
                                var listLanguage = ViewBag.UserLanguage as List<string>;
                                for (int i = 0; i < listLanguage.Count; i++)
                                {
                                    <span> @listLanguage[i]</span>
                                }
                            }
                        </p>
                    </dd>
                </dl>


    <section id="one" class="wrapper style1" style="padding-top: 0px; padding-bottom: 0px;">
    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @style = "    margin-left: 25px;" })
    <div class="inner">
        <article class="feature left" style=" margin-bottom: 0px;">

            <div class="image">
                <img class="profileImage" src="@Url.Action("PictureForProfile", "Picture", new { userID = Model.id })"
                     alt="" />

            </div>
            <div class="content">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                    <dd>@Html.DisplayFor(model => model.Name)</dd>
                    <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
                    <dd>@Html.DisplayFor(model => model.LastName)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Age)</dt>
                    <dd>@Html.DisplayFor(model => model.Age)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Email)</dt>
                    <dd>@Html.DisplayFor(model => model.Email)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Phone)</dt>
                    <dd>@Html.DisplayFor(model => model.Phone)</dd>
                    <dt>@Html.DisplayNameFor(model => model.CountryId)</dt>
                    <dd>@Html.DisplayFor(model => model.Country.country_name)</dd>
                    <dt>Languages</dt>
                    <dd>
                        <p>
                            @{
                                var listLanguage = ViewBag.UserLanguage as List<string>;
                                for (int i = 0; i < listLanguage.Count; i++)
                                {
                                    <span> @listLanguage[i]</span>
                                }
                            }
                        </p>
                    </dd>
                    <dt>@Html.DisplayNameFor(model => model.About)</dt>
                    <dd>@Html.DisplayFor(model => model.About)</dd>
                </dl>
            </div>
        </article>
        @*<p class="userBtn">*@
@Html.ActionLink("Edit profile", "Edit")
@*</p>*@
@* </div>

        </section>


          <div>@Html.DisplayNameFor(model => model.Name)@Html.DisplayFor(model => model.Name)</div>
                    <div>@Html.DisplayNameFor(model => model.LastName)@Html.DisplayFor(model => model.LastName)</div>
                    <div>@Html.DisplayNameFor(model => model.Age)@Html.DisplayFor(model => model.Age)</div>
                    <div>@Html.DisplayNameFor(model => model.Email)@Html.DisplayFor(model => model.Email)</div>
                    <div>@Html.DisplayNameFor(model => model.Phone)@Html.DisplayFor(model => model.Phone)</div>
                    <div>@Html.DisplayNameFor(model => model.CountryId)@Html.DisplayFor(model => model.Country.country_name)</div>
                    <div>
                        Languages @{
                            var listLanguage = ViewBag.UserLanguage as List<string>;
                            for (int i = 0; i < listLanguage.Count; i++)
                            {
                                <span>  @listLanguage[i]</span>
                            }
                        }
                    </div>

        <div><b>@Html.DisplayNameFor(model => model.Name) : </b> @Html.DisplayFor(model => model.Name)</div>
                    <div><b>@Html.DisplayNameFor(model => model.LastName) : </b> @Html.DisplayFor(model => model.LastName)</div>
                    <div><b>@Html.DisplayNameFor(model => model.Age) : </b> @Html.DisplayFor(model => model.Age)</div>
                    <div><b>@Html.DisplayNameFor(model => model.Email) : </b> @Html.DisplayFor(model => model.Email)</div>
                    <div><b>@Html.DisplayNameFor(model => model.Phone) : </b> @Html.DisplayFor(model => model.Phone)</div>
                    <div><b>@Html.DisplayNameFor(model => model.CountryId) : </b> @Html.DisplayFor(model => model.Country.country_name)</div>
                    <div>
                        <b>Languages  : </b> @{
                            var listLanguage = ViewBag.UserLanguage as List<string>;
                            for (int i = 0; i < listLanguage.Count; i++)
                            {
                                <span>  @listLanguage[i]</span>
                            }
                        }
                    </div>

            <ul class="alt">
                        <li><b>@Html.DisplayNameFor(model => model.Name) : </b> @Html.DisplayFor(model => model.Name)</li>
                        <li><b>@Html.DisplayNameFor(model => model.LastName) : </b> @Html.DisplayFor(model => model.LastName)</li>
                        <li><b>@Html.DisplayNameFor(model => model.Age) : </b> @Html.DisplayFor(model => model.Age)</li>
                        <li><b>@Html.DisplayNameFor(model => model.Email) : </b> @Html.DisplayFor(model => model.Email)</li>
                        <li><b>@Html.DisplayNameFor(model => model.Phone) : </b> @Html.DisplayFor(model => model.Phone)</li>
                        <li><b>@Html.DisplayNameFor(model => model.CountryId) : </b> @Html.DisplayFor(model => model.Country.country_name)</li>
                        <li>
                            <b>Languages  : </b> @{
                                var listLanguage = ViewBag.UserLanguage as List<string>;
                                for (int i = 0; i < listLanguage.Count; i++)
                                {
                                    <span>  @listLanguage[i]</span>
                                }
                            }
                    </ul>

        <section id="one" class="wrapper style1" style="padding-top: 0; padding-bottom: 0;">
        @Html.ActionLink("Back to Home", "Index", "Home", null, new { @style = "    margin-left: 25px;" })
        <div class="inner">
            <article class="feature2" style=" margin-bottom: 0;">
    <img class="profileImage image" src="@Url.Action("PictureForProfile", "Picture", new { userID = Model.id })"
         alt="" style="display:inline-block;" />
    <div class="content profileContent" style="display:inline-block;float: right; margin-right: 100px;">
        <table class="ProfileUserTable">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <td>@Html.DisplayFor(model => model.LastName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Age)</th>
                <td>@Html.DisplayFor(model => model.Age)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Phone)</th>
                <td>@Html.DisplayFor(model => model.Phone)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CountryId)</th>
                <td>@Html.DisplayFor(model => model.Country.country_name)</td>
            </tr>
            <tr>
                <th>Languages</th>
                <td>
                    @{
                                    for (int i = 0; i < listLanguage.Count; i++)
                                    {
                                        <span>  @listLanguage[i]</span>
                                    }
                    }
                </td>
            </tr>
        </table>
    </div>
    <br />
    <b style="margin-left: auto;margin-right: auto;display: table;">@Html.DisplayNameFor(model => model.About)</b>
    <p style="text-indent: 51px;">@Html.DisplayFor(model => model.About)</p>
            </article>
    @Html.ActionLink("Edit profile", "Edit")
    @*</p>*@
@* </div>

    </section>
*@

<style>
    .feature2 {
        display: -moz-flex;
        /* display: -webkit-flex; */
        display: -ms-flex;
        /* display: flex; */
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        margin-bottom: 6em;
        background-color: #fff;
    }

    .dl-horizontal1 dd {
        margin-left: 180px;
    }
</style>

<section>
    <article>
        <img src="@Url.Action("GetUrlFromPictureOfTour", "Picture", new { pictureId = Model.Tours.ElementAt(0).Tour_PictureOfTour.ElementAt(0).Id,
                 tourID = Model.Tours.ElementAt(0).Tour_PictureOfTour.ElementAt(0).TourID })"
             alt="" />
        <div class="container">
            <h2>Model.Tours.ElementAt(0).title </h2>
            <p class="contentDescription">Model.Tours.ElementAt(0).description</p>
        </div>
    </article>
</section>






<section id="one" class="wrapper style1">
    <div class="inner">
        <article class="feature right">
            <span class="image">
                <img src="@Url.Action("PictureForProfile", "Picture", new { userID = Model.id })"
                     alt="" />
            </span>
            <div class="content">
                <div><b>@Html.DisplayNameFor(model => model.LastName) : </b> @Html.DisplayFor(model => model.LastName)</div>
                <div><b>@Html.DisplayNameFor(model => model.Age) : </b> @Html.DisplayFor(model => model.Age)</div>
                <div><b>@Html.DisplayNameFor(model => model.Email) : </b> @Html.DisplayFor(model => model.Email)</div>
                <div><b>@Html.DisplayNameFor(model => model.Phone) : </b> @Html.DisplayFor(model => model.Phone)</div>
                <div><b>@Html.DisplayNameFor(model => model.CountryId) : </b> @Html.DisplayFor(model => model.Country.country_name)</div>
                <div>
                    <b>Languages  : </b> @{
                        var listLanguage = ViewBag.UserLanguage as List<string>;
                        for (int i = 0; i < listLanguage.Count; i++)
                        {
                            <span>  @listLanguage[i]</span>
                        }
                    }
                </div>
                @if (!string.IsNullOrEmpty(Model.About))
                {
                    <b style="margin-left: auto;margin-right: auto;display: table; clear:both;">@Html.DisplayNameFor(model => model.About)</b>
                    <p style="text-indent: 51px; clear:both;">@Html.DisplayFor(model => model.About)</p>
                }
            </div>
        </article>
    </div>
</section>


<article class="feature2 right">
    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @style = "    margin-left: 25px;" })
    <span class="image">
        <img class="" src="@Url.Action("PictureForProfile", "Picture", new { userID = Model.id })"
             alt="" />
    </span>
    <div class="content">
        <div><b>@Html.DisplayNameFor(model => model.Name) : </b> @Html.DisplayFor(model => model.Name)</div>
        <div><b>@Html.DisplayNameFor(model => model.LastName) : </b> @Html.DisplayFor(model => model.LastName)</div>
        <div><b>@Html.DisplayNameFor(model => model.Age) : </b> @Html.DisplayFor(model => model.Age)</div>
        <div><b>@Html.DisplayNameFor(model => model.Email) : </b> @Html.DisplayFor(model => model.Email)</div>
        <div><b>@Html.DisplayNameFor(model => model.Phone) : </b> @Html.DisplayFor(model => model.Phone)</div>
        <div><b>@Html.DisplayNameFor(model => model.CountryId) : </b> @Html.DisplayFor(model => model.Country.country_name)</div>
        <div>
            <b>Languages  : </b> @{
                for (int i = 0; i < listLanguage.Count; i++)
                {
                    <span>  @listLanguage[i]</span>
                }
            }
        </div>



    </div>
    @if (!string.IsNullOrEmpty(Model.About))
    {
        <b style="margin-left: auto;margin-right: auto;display: table; clear:both;">@Html.DisplayNameFor(model => model.About)</b>
        <p style="text-indent: 51px; clear:both;">@Html.DisplayFor(model => model.About)</p>
    }
</article>
    </div>
<section id="one" class="wrapper style1" style="padding-top: 0; padding-bottom: 0;">
    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @style = "    margin-left: 25px;" })
    <div class="inner">
        <article class="feature2">

            <div class="image">
                <img class="profileImage" src="@Url.Action("PictureForProfile", "Picture", new { userID = Model.id })"
                     alt="" />
            </div>
            <div class="content" style="display:inline-block;float: right; margin-right: 100px;">
                <div><b>@Html.DisplayNameFor(model => model.Name) : </b> @Html.DisplayFor(model => model.Name)</div>
                <div><b>@Html.DisplayNameFor(model => model.LastName) : </b> @Html.DisplayFor(model => model.LastName)</div>
                <div><b>@Html.DisplayNameFor(model => model.Age) : </b> @Html.DisplayFor(model => model.Age)</div>
                <div><b>@Html.DisplayNameFor(model => model.Email) : </b> @Html.DisplayFor(model => model.Email)</div>
                <div><b>@Html.DisplayNameFor(model => model.Phone) : </b> @Html.DisplayFor(model => model.Phone)</div>
                <div><b>@Html.DisplayNameFor(model => model.CountryId) : </b> @Html.DisplayFor(model => model.Country.country_name)</div>
                <div>
                    <b>Languages  : </b> @{
                        for (int i = 0; i < listLanguage.Count; i++)
                        {
                            <span>  @listLanguage[i]</span>
                        }
                    }
                </div>
            </div>


            @*<br />*@
            @if (!string.IsNullOrEmpty(Model.About))
            {
                <b style="margin-left: auto;margin-right: auto;display: table; clear:both;">@Html.DisplayNameFor(model => model.About)</b>
                <p style="text-indent: 51px; clear:both;">@Html.DisplayFor(model => model.About)</p>
            }
        </article>
        @Html.ActionLink("Edit profile", "Edit")
        @*</p>*@
    </div>



</section>


<section id="one" class="wrapper style1">
    <div class="inner">
        <article class="feature left">
            <span class="image">
                <img class="profileImage" src="@Url.Action("PictureForProfile", "Picture", new { userID = Model.id })"
                     alt="" />
            </span>
            <div class="content">
                <div>@Html.DisplayNameFor(model => model.Name)@Html.DisplayFor(model => model.Name)</div>
                <div>@Html.DisplayNameFor(model => model.LastName)@Html.DisplayFor(model => model.LastName)</div>
                <div>@Html.DisplayNameFor(model => model.Age)@Html.DisplayFor(model => model.Age)</div>
                <div>@Html.DisplayNameFor(model => model.Email)@Html.DisplayFor(model => model.Email)</div>
                <div>@Html.DisplayNameFor(model => model.Phone)@Html.DisplayFor(model => model.Phone)</div>
                <div>@Html.DisplayNameFor(model => model.CountryId)@Html.DisplayFor(model => model.Country.country_name)</div>
                <div>
                    Languages @{
                        var listLanguage2 = ViewBag.UserLanguage as List<string>;
                        for (int i = 0; i < listLanguage2.Count; i++)
                        {
                            <span>  @listLanguage[i]</span>
                        }
                    }
                </div>
                <div>
                    <b style="margin-left: auto;margin-right: auto;display: table;">@Html.DisplayNameFor(model => model.About)</b>
                    <p style="text-indent: 51px;">@Html.DisplayFor(model => model.About)</p>
                </div>
            </div>
            @*<b style="margin-left: auto;margin-right: auto;display: table;">@Html.DisplayNameFor(model => model.About)</b>
                <p style="text-indent: 51px;">@Html.DisplayFor(model => model.About)</p>*@
        </article>
    </div>
</section>


<section id="one" class="wrapper style1">
    @Html.ActionLink("Back to Home", "Index", "Home", null, new { @style = "    margin-left: 25px;" })
    <div class="inner">
        <article class="feature">

            @*<div class="image" style="display:inline-block;">*@
            <img class="profileImage image" src="@Url.Action("PictureForProfile", "Picture", new { userID = Model.id })"
                 alt="" />
            @*</div>*@
            <div class="content">
                <table>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.LastName)</th>
                        <td>@Html.DisplayFor(model => model.LastName)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Age)</th>
                        <td>@Html.DisplayFor(model => model.Age)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Phone)</th>
                        <td>@Html.DisplayFor(model => model.Phone)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CountryId)</th>
                        <td>@Html.DisplayFor(model => model.Country.country_name)</td>
                    </tr>
                    <tr>
                        <th>Languages</th>
                        <td>
                            @{

                                for (int i = 0; i < listLanguage.Count; i++)
                                {
                                    <span>  @listLanguage[i]</span>
                                }
                            }
                        </td>
                    </tr>


                </table>


            </div>
            @*<br />
                <b style="margin-left: auto;margin-right: auto;display: table;">@Html.DisplayNameFor(model => model.About)</b>
                <p style="text-indent: 51px;">@Html.DisplayFor(model => model.About)</p>*@
        </article>
        <section id="two" class="wrapper special">
            <div class="inner narrow">
                <h2>@Html.DisplayNameFor(model => model.About)</h2>
                <p>@Html.DisplayFor(model => model.About)</p>
            </div>
        </section>

        @Html.ActionLink("Edit profile", "Edit")
        @*</p>*@
    </div>

</section>


<script src="~/Scripts/Elements/Profile.js"></script>

<section class="post">
    <a href="#" class="image"><img src="images/pic01.jpg" alt=""></a>
    <div class="content">
        <h3>Ultricies sed lorem</h3>
        <p>Lorem ipsum dolor sit amet interdum arcu pulvinar lorem ipsum sed feugiat etiam sed magna adipiscing.</p>
        <a href="#" class="button">More</a>
    </div>
</section>