@model TourForEverybuddy.Models.Tour
@{
    ViewBag.Title = "Tour";
}
@*https://www.iconfinder.com/iconsets/sympletts-free-sampler image from <-
        фотошоп -> http://editor.0lik.ru/
        media="all"
    ::selection
    {
    background: #cd2122;
    color: #fff;
    text-shadow: none;
    }
*@
<section class="post">
    <div class="img">
        @if (Model.Tour_PictureOfTour.Count != 0)
        {
            <img id="img" src="@Url.Action("GetUrlFromPictureOfTour", "Picture", new { pictureId = Model.Tour_PictureOfTour.ElementAt(0).Id,
                 tourID = Model.Tour_PictureOfTour.ElementAt(0).TourID })"
                 alt="" />
        }
        else
        {
            <img id="img" src="~/images/Tour/camera-photo-min.png" alt="" style=" width: 50%; margin: 0 auto 0 auto;" />
        }

    </div>
    <div class="content">
        @*@Html.ActionLink(Model.title, "ActionName", "controllerName", null, new { @class = "titleTour" })*@
        <b class="titleTour">@Model.title</b>
        <div class="elements_tour">
            @if (Model.Tour_Duration == null)
            {
                <img src="~/images/Tour/clock1.png" /> <em>Any time</em>
            }
            else
            {
                <img src="~/images/Tour/clock1.png" /> <em>@Model.Tour_Duration.Time</em>
            }
            @if (Model.price == null)
            {
                <img src="~/images/Tour/dollar1.png" /> <em>no money :)</em>
            }
            else
            {
                <img src="~/images/Tour/dollar1.png" /> <em>@Model.price</em>
            }

            @{
                var week = (List<TourForEverybuddy.Models.Tour_DaysOfTheWeek>)ViewBag.DaysOfTheWeek;
                for (int i = 0; i < week.Count; i++)
                {
                    <img src="@week[i].DaysOfTheWeek.Path" title="@week[i].DaysOfTheWeek.Name" />
                }
            }
        </div>
        <p class="contentDescription">
            @Model.description
        </p>
        @if (ViewBag.Edit)
        {
            @Html.ActionLink("Edit", "EditTour", "Account", new { id = Model.Id }, new { id = Model.Id, @class = "button alt small tourBtn" })
            @Html.ActionLink("Delete", "DeleteTour", "Account", new { id = Model.Id }, new { @class = "button small tourBtn" })
        }
        else
        {
            @Html.ActionLink("View", "TourView", "Tour", new { id = Model.Id }, new { @class = "button alt small" })
        }

    </div>
</section>
