@model IEnumerable<TestCoockie.Models.User>

@{
    ViewBag.Title = "Index";
}

@{
    var UserName = HttpContext.Current.User.Identity.Name;
}
@if (!string.IsNullOrEmpty(UserName))
{
    <p>   @UserName</p>
}
else
{
    <p>@Html.ActionLink("Авторизоваться ?", "Index", "Login")</p>
}

@Html.ActionLink("Выйти ?", "Index","Login")

<p>
    @Html.ActionLink("Create New", "Register", "Account")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
