@model TourForEverybuddy.Models.User

@{
    ViewBag.Title = "";
    this.Layout = "~/Views/Shared/_GenericLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Elements/Profile.css" />
<link rel="stylesheet" href="~/Content/Elements/TourStyle.css" />
<link rel="stylesheet" href="~/Content/Elements/UserStyle.css" />

<br />
@Html.ActionLink("Back to Home", "Index", "Home", null, new { @style = "margin-left: 25px;" })

<section class="wrapper" id="main">
    <div class="container">
        <section class="row">
            <div class="leftSideContainer">
                @Html.Action("_User", "Element", new { userID = Model.id })
            </div>
            <div class="6u 12u$(xsmall) rightContainer">
                @*rightSideContainer">*@
                @*@Html.ActionLink("Edit profile", "Edit", null, new { @class = "button alt" })*@
                <table class="alt">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Phone)</th>
                        <td>@Html.DisplayFor(model => model.Phone)</td>
                    </tr>
                </table>

            </div>
            <div class="container">
                <header class="major special">
                    <h4>@Html.DisplayNameFor(model => model.About)</h4>
                </header>
                <p>@Html.DisplayFor(model => model.About)</p>
            </div>
            @*<div class="row">
                @Html.ActionLink("Edit profile", "Edit", null, new { @class = "button alt" })
            </div>*@
        </section>

        <br />
        @if (Model.RouleId == 2)
        {
            <div class="inner">
                @*<div class="row">
                    @Html.ActionLink("Add new tour", "AddTour", null, new { @class = "button alt" })
                </div>*@
                <div class="posts">
                    @for (int i = 0; i < Model.Tours.Count; i++)
                    {
                        @Html.Action("Tour", "Element", new { tourID = Model.Tours.ElementAt(i).Id, edit = false })
                    }

                </div>
            </div>
        }
    </div>
</section>

<script src="~/Scripts/Elements/Profile.js"></script>
