@model TourForEverybuddy.Models.Tour
@{
    this.Layout = "~/Views/Shared/_GenericLayout.cshtml";
}
<link href="~/Content/Elements/Profile.css" rel="stylesheet" />
<br />
@Html.ActionLink("Back to List", "Index", null, new { @style = "    margin-left: 25px;" })

<div id="tourDialog" class="container tourDialog">

    @using (Html.BeginForm("AddTour", "Account", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <section id="two" class="wrapper special" style="padding-top: 0px;">
            <div class="inner">
                <div class="file-input-wrapper">
                    <button class="btn-file-input">Upload File</button>
                    <input type="file" id="Pictures" name="Pictures" value="Загрузить фотки" multiple accept="image/*" onchange="handleFileSelect(this);" />
                </div>
                @*<input class="button alt small" id="Pictures" name="Pictures" type="file" value="Загрузить фотки" multiple onchange="handleFileSelect(this);" />*@
                <div class="images"><br /></div>
                @Html.TextBox("title", null, new { @placeholder = "Enter you title", @onchange = "TextBoxChange()", @style = "margin: 10px auto 10px 0px;" })
                <div >
                    @Html.TextArea("description", null, new { @rows = "2", @placeholder = "Enter your massage ... ", @onchange = "TextBoxChange()" })
                </div>
                <div >
                    @Html.TextArea("fullDescription", null, new { @rows = "6", @placeholder = "Enter your full description ... ", @onchange = "TextBoxChange()" })
                </div>
                <div >
                    @Html.DisplayNameFor(model => model.cityID)
                    @Html.DropDownList("cityID", new SelectList(ViewBag.Cities, "id", "Name"))
                </div>
                <div >
                    @Html.DisplayNameFor(model => model.MaximumTravelers)
                    @Html.TextBox("MaximumTravelers", "1", new { @type = "number" })
                </div>
                <div>
                    @Html.DisplayNameFor(model => model.price)
                    @Html.TextBox("price", "1", new { @type = "number" }) $
                </div>
                <div>
                    @Html.DisplayNameFor(model => model.durationID)
                    @Html.DropDownList("durationID", new SelectList(ViewBag.Duration, "Id", "Time"))
                </div>
                <div>
                    @Html.Hidden("DaysOfTheWeek")
                    <img id="sun" src="~/images/Days of the week and months/daysofweek_sun-min.png" alt="" onclick="SelectDaysOfTheWeek(this)" style="opacity: .2" />
                    <img id="mon" src="~/images/Days of the week and months/daysofweek_mon-min.png" alt="" onclick="SelectDaysOfTheWeek(this)" style="opacity: .2" />
                    <img id="tue" src="~/images/Days of the week and months/daysofweek_tue-min.png" alt="" onclick="SelectDaysOfTheWeek(this)" style="opacity: .2" />
                    <img id="wed" src="~/images/Days of the week and months/daysofweek_ wein.png" alt="" onclick="SelectDaysOfTheWeek(this)" style="opacity: .2" />
                    <img id="thu" src="~/images/Days of the week and months/daysofweek_thu-min.png" alt="" onclick="SelectDaysOfTheWeek(this)" style="opacity: .2" />
                    <img id="fri" src="~/images/Days of the week and months/daysofweek_fri-min.png" alt="" onclick="SelectDaysOfTheWeek(this)" style="opacity: .2" />
                    <img id="sat" src="~/images/Days of the week and months/daysofweek_sat-min.png" alt="" onclick="SelectDaysOfTheWeek(this)" style="opacity: .2" />
                </div>
                <div>
                    <span id="displayNameStartsAt">@Html.DisplayNameFor(model => model.startsAt)</span>
                    @Html.TextBox("startsAt", null, new { @type = "time" }) or 
                    @Html.CheckBox("isAnyTime", false, new { @onclick = "AnyTimeClick(this)" } ) Any time ?
                </div>
            </div>
            <input class="button special" id="submitCreate" type="submit" style="margin-top: 15px;" value="Create" onclick="return CheckEmptyFild()" />
            @Html.ValidationMessage("TourIsHave", new { @style = "color: red; font-size: large;" })
            @Html.ValidationMessage("ValidIsFailed", new { @style = "color: red; font-size: large;", @id = "ValidIsFailed" })
        </section>
    }

</div>
<script src="~/Scripts/Elements/Profile.js"></script>
