@{

    this.Layout = "~/Views/Shared/_GenericLayout.cshtml";
}

@Html.ValidationMessage("TourIsHave", new { @style = "color: red; font-size: large;" })
@Html.ValidationMessage("ValidIsFailed", new { @style = "color: red; font-size: large;" })

<div id="tourDialog" class="container tourDialog">
    @*style="display: none;"*@
    @using (Html.BeginForm("AddTour", "Account", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <section>
            <div class="12u$">
                <input id="Pictures" name="Pictures" type="file" value="Загрузить фотки" multiple
                       onchange="handleFileSelect(this);" />
                @*onchange="readUrl(this);" />*@
                <div class="images"></div>
                @Html.TextBox("Title", null, new { @placeholder = "Enter you title" })
                <div class="12u$">
                    @Html.TextArea("description", null, new { @rows = "6", @placeholder = "Enter your massage" })
                </div>
            </div>
            @*<a onclick="AddTour()">Add new tour</a>*@
            @Html.ActionLink("Back to List", "Index")
        </section>
        <input type="submit" value="Create" />
    }
</div>
<script src="~/Scripts/Elements/Profile.js"></script>
