@{
    this.Layout = "~/Views/Shared/_GenericLayout.cshtml";
}
<link href="~/Content/Elements/Profile.css" rel="stylesheet" />
<br />
@Html.ActionLink("Back to List", "Index", null, new { @style = "    margin-left: 25px;" })

<div id="tourDialog" class="container tourDialog">

    @using (Html.BeginForm("AddTour", "Account", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <section>
            <div class="12u$">
                <div class="file-input-wrapper">
                    <button class="btn-file-input">Upload File</button>
                    <input type="file" id="Pictures" name="Pictures" value="Загрузить фотки" multiple onchange="handleFileSelect(this);" />
                </div>
                @*<input class="button alt small" id="Pictures" name="Pictures" type="file" value="Загрузить фотки" multiple onchange="handleFileSelect(this);" />*@
                <div class="images"><br /></div>
                @Html.TextBox("Title", null, new { @placeholder = "Enter you title", @onchange = "TextBoxChange()", @style = "margin: 10px auto 10px 0px;" })
                <div class="12u$">
                    @Html.TextArea("description", null, new { @rows = "6", @placeholder = "Enter your massage", @onchange = "TextBoxChange()" })
                </div>
            </div>
            @*<a onclick="AddTour()">Add new tour</a>*@

        </section>
        <input class="button special" id="submitCreate" type="submit" style="margin-top: 15px;" value="Create" onclick="return CheckEmptyFild()" />
        @Html.ValidationMessage("TourIsHave", new { @style = "color: red; font-size: large;" })
        @Html.ValidationMessage("ValidIsFailed", new { @style = "color: red; font-size: large;", @id = "ValidIsFailed" })
    }

</div>
<script src="~/Scripts/Elements/Profile.js"></script>
