@model TourForEverybuddy.Models.User

@{
    ViewBag.Title = "Index";
    this.Layout = "~/Views/Shared/_GenericLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Elements/Profile.css" />
<link rel="stylesheet" href="~/Content/Elements/Regiser.css" />

<div class="RegisterDiv">
    <h4>User</h4>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.Hidden("id", Model.id)

        @Html.Partial("_AccountPartial")

        <div class="Passwords">
            @Html.LabelFor(model => model.Password)
            @Html.TextBox("Password", null, new { @type = "password", @onfocusout = "onFocusOutPassword()" })
            @Html.LabelFor(model => model.Password, "Confirm password")
            @Html.TextBox("Password", null, new { @id = "PasswordConfirm", @type = "password", @onfocusout = "onFocusOutPassword()" })

            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            @Html.ValidationMessage("PasswordCOnfirm", "", new { @id = "validPass", @class = "text-danger" })
        </div>

        <input type="submit" value="click" />
    }

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<script src="~/Scripts/Elements/Register.js"></script>

