@model TourForEverybuddy.Models.User

@{
    ViewBag.Title = "Index";
    this.Layout = "~/Views/Shared/_GenericLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Elements/Profile.css" />

<hr />
<div class="container">
    <section>
        <table @*class="UserTable"*@>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <td>@Html.DisplayFor(model => model.LastName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Age)</th>
                <td>@Html.DisplayFor(model => model.Age)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Phone)</th>
                <td>@Html.DisplayFor(model => model.Phone)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CountryId)</th>
                <td>@Html.DisplayFor(model => model.CountryId)</td>
            </tr>
        </table>

        <p class="userBtn">
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Back to Home", "Index", "Home")
        </p>


    </section>

    <hr />

    <section>
        <h1>if Guide ? show this tour </h1>
        <table>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>

        <p>
            @Html.ActionLink("Add new tour", "AddTour") |
            @Html.ActionLink("Edit Tour", "EditTour")
        </p>
    </section>
</div>
